# Git
.git
.gitignore

# Bundler
.bundle
vendor/bundle

# Environment files
.env
.env.*
!.env.production.example

# Rails credentials keys
config/master.key
config/credentials/*.key

# Logs and temporary files
log/*
tmp/*
!/log/.keep
!/tmp/.keep

# PID files
tmp/pids/*
!/tmp/pids/.keep

# Storage
storage/*
!/storage/.keep
tmp/storage/*
!/tmp/storage/.keep

# Assets generated locally
public/assets
public/packs
public/packs-test

# Node / frontend dependencies
node_modules
app/assets/builds/*
!/app/assets/builds/.keep

# Test / coverage / debug
coverage
.byebug_history

# OS/editor files
.DS_Store
.vscode
.idea

# Misc
README.md
